extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Aliquam egestas dolor urna, ac pharetra lacus porttitor a. Suspendisse aliquam mauris nec sapien maximus posuere. Sed dui orci, porta id rutrum et, vestibulum ac ligula. Cras vestibulum elit ac rutrum dictum. Vestibulum nisi mi, convallis eu tortor id, varius congue enim.

                p quis diam quis augue suscipit laoreet. Nunc et eros orci. Quisque eget ligula et enim venenatis iaculis a sed risus. Nulla egestas non enim eget pulvinar. Etiam convallis turpis purus, sit amet iaculis felis pharetra quis..

                p rhoncus feugiat ligula. Duis feugiat augue sit amet vulputate auctor. Duis vulputate condimentum elit a rutrum. In in nulla in ipsum finibus scelerisque. Nullam egestas lacus ligula. Nulla facilisi. Duis finibus nisl vel nibh sagittis, pretium placerat eros pretium.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p rhoncus feugiat ligula. Duis feugiat augue sit amet vulputate auctor. Duis vulputate condimentum elit a rutrum. In in nulla.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p rhoncus feugiat ligula. Duis feugiat augue sit amet vulputate auctor. Duis vulputate condimentum elit a rutrum. In in nulla.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 los Mejores Precios 
                    p rhoncus feugiat ligula. Duis feugiat augue sit amet vulputate auctor. Duis vulputate condimentum elit a rutrum. In in nulla.